h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d0d3d8;
}

a {
  color: #d0d3d8;
  text-decoration: none;
}
body {
  background-color: #282c34;
  transition: margin-left 0.2s;
  color: #d0d3d8;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  line-height: 1;
}
