* {
  transition: 0.2s;
}

body {
  background-color: #282c34;
  transition: margin-left 0.2s;
  color: #d0d3d8;
}

.header {
  font-size: 7vh;
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d0d3d8;
}

a {
  color: #d0d3d8;
  text-decoration: none;
}
